<%= link_to "<< Back", {:action => "list", :subject_id => @subject.id}, :class => "back-link" %>

<div class="page new">
	<h2>Create Page</h2>
	
	<%= form_for(:pages, :url => {:action => "create"}) do |f| %>
	
	<%= render(:partial => "form", :locals => {:f => f}) %>
	
	<div class="form-buttons">
		<%= submit_tag("Create Page") %>
	</div>
	<% end %>
</div>