<%= link_to "<< Back", {:action => "list"}, :class => "back-link" %>

<div class="admin users edit">
	<h2>Update Users</h2>
		
	<%= form_for(:admin_users, :url => {:action => "update", :id => @admin_users.id}) do |f| %>

	<%= render(:partial => "form", :locals => {:f => f}) %>
	
	<div class="form-buttons">
		<%= submit_tag("Update User") %>
	</div>
	<% end %>
</div>
