<% if @user %>
<ul id="tabs">
	<li class="current" id="dashboard"><a href="/admin">Dashboard</a></li>
	<li><%= link_to("Manage Content", :controller => "subjects") %></li>
	<li><%= link_to("Manage Users", :controller => "users") %></li>
</ul>

<p class="header-item" id="utility_nav">
	Welcome <%= @user.full_name %>   
	<%= link_to("Log Out", :controller => "access", :action => "logout") %>
</p>
<% end %>