<h3>

	<ul class="top-menu">
		<li><%= link_to "link text...", :controller => "public", :action => "show" %></li>
		<li><%= link_to "link text...", :controller => "public", :action => "show" %></li>
	</ul>

	<div id="logo">
		<a href="#"><%= image_tag "rails.png", :title => "logo", :class => "logo" %></a>
	</div>

</h3>

<%= render(:partial => "layouts/navigation", :locals => {:subject => subject}) %>