<!DOCTYPE html>
<html>
<head>
  <title>SimpleCms</title>
  <%= stylesheet_link_tag "public", :media => "all" %>
  <%= javascript_include_tag "public" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
